/* slidersBgFadeScaleAnimate animation */
@-webkit-keyframes slidersBgFadeScaleAnimateIn {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes slidersBgFadeScaleAnimateIn {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes slidersBgFadeScaleAnimateOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2); } }

@keyframes slidersBgFadeScaleAnimateOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2); } }

/* animOne animation */
@-webkit-keyframes animOne {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes animOne {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* animTwo animation */
@-webkit-keyframes animTwo {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  70% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes animTwo {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  70% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
