/* slidersBgFadeScaleAnimate animation */
@keyframes slidersBgFadeScaleAnimateIn {
	0%{
		transform: scale(2);
	}

	100%{
		transform: scale(1);
	}
}

@keyframes slidersBgFadeScaleAnimateOut {
	0%{
		transform: scale(1);
	}

	100%{
		transform: scale(2);
	}
}

/* animOne animation */
@keyframes animOne {
	0%{
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
	}

	100%{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

/* animTwo animation */
@keyframes animTwo {
	0%{
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
	}

	70%{
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
	}

	100%{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}